@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


* , *:after , *:before {
    box-sizing: border-box;
}

img {
	max-width:100%;
	height: auto;
	vertical-align:middle;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.font-noto-TC {
    font-family: 'Noto Sans TC' !important;
}

.font-shrikhand {
    font-family: 'Shrikhand'!important;
}
